<h1>Comprar Carrito</h1>
<br>
<br>
{{#each itemCart.items}}
<h3>{{name}}</h3>
<h3>${{price}}</h3>
{{/each}}
<br>
<br>
<h4>Item Cart</h4>
<h1>{{itemCart.preferenceId}}</h1>
<form method="POST" action="/cart">
  <script src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
    data-preference-id='{{itemCart.preferenceId}}'>
    </script>
</form>