<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Checkout <span><i class="far fa-credit-card"></i></span></h1>
  <br>
  <br>
  <h1><span><i class="fas fa-dollar-sign"></i></span> {{itemCart.totalPrice}}</h1>
  <br>
  <br>
  <div class="mercadoPagoBtn"> 

    <form method="POST" action="/cart">
      <script src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
        data-preference-id='{{itemCart.preferenceId}}'>
        </script>
    </form>
  </div>
</div>